/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --peer-info-title-font-family: var(--default-font-family);
  --peer-info-title-verification-icon-color: var(--color-success);
}

/* Styles */
.container {
  font-family: var(--peer-info-title-font-family);
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.title {
  flex: 0 0 auto;
}

.userName {
  flex: 0 0 auto;
}

.verifiedIcon {
  flex: 0 0 auto;
  color: var(--peer-info-title-verification-icon-color);
  margin-left: 4px;
}
