/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --feedback-modal-font-family: var(--default-font-family);
  --feedback-modal-width: 450px;
  --feedback-modal-textarea-height: 140px;
  --feedback-modal-save-logs_font-size: 15px;
}

/* Styles */
.container {
  width: var(--feedback-modal-width);
  font-family: var(--feedback-modal-font-family);
}

.body {
}

.text {
  height: var(--feedback-modal-textarea-height);
}

.footer {
  padding: 0;
}

.logs_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.or_save_logs {
  font-size: var(--feedback-modal-save-logs_font-size);
  padding-left: 0.5em;
}

.save_logs {
  font-size: var(--feedback-modal-save-logs_font-size);
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0.5em;
}
