/**
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --message-preview-font-family: var(--default-font-family);
}

/* Styles */
.container {
  font-family: var(--message-preview-font-family);
  word-break: break-all;
}

.sender {
  color: color-mod(#000 alpha(60%));
}

.preview {
  color: color-mod(#4a4a4a alpha(60%));
  letter-spacing: -0.26px;
}

.highlight {
}

.text {
}

.service {
}
