/*
 * Copyright 2019 dialog LLC <info@dlg.im>
 */

@import '../../styles/variables.css';

:root {
  --authorization-agreement-font-size: var(--default-font-size-small);
  --authorization-agreement-color: color-mod(#212121 alpha(50%));
}

.container {
  padding: 16px 0;
}

.form {
  width: 100%;
  padding: 16px 0;
}

.inputWrapper {
  position: relative;
}

.submit {
  margin-top: 16px;
}

.retry {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-primary);
  font-size: var(--default-font-size-small);
  vertical-align: middle;
  cursor: pointer;
}

.agreement {
  cursor: default;
  font-size: var(--authorization-agreement-font-size);
  color: var(--authorization-agreement-color);
}
